*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
}

ul {
  list-style-type: none;
}

a:focus,
button:focus {
  border: none;
  outline: none;
}

input:focus {
  outline: 3px solid #83B3D3;
}

/* input:active {
  outline: 2px solid #000;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  min-height: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  color: #000000;
  background: #FFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

/* header */
.page-header {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 70px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.logo-header {
  display: flex;
  align-items: center;
  margin: 0 -2px -6px 0;
  width: 140px;
  height: 70px;
}

.logo-header:hover,
.logo-header:focus {
  opacity: 0.8;
}

.logo-header:active {
  opacity: 0.6;
}

.navigation-list {
  margin: 0 auto 0 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 340px;
  width: auto;
  height: auto;
}

.navigation-list li {
  font-size: 20px;
  font-family: PT Sans;
  line-height: 24px;
  text-transform: capitalize;
  padding: 20px 16px;
}

.navigation-link:hover,
.navigation-link:focus {
  opacity: 0.8;
}

.navigation-link:active {
  opacity: 0.6;
}

.navigation-user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 268px;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 12px;
  width: auto;
  height: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:hover,
.icon:focus {
  opacity: 0.8;
}

.icon:active {
  opacity: 0.6;
}



.nav-search-button {
  background: url("../images/icons/search.svg") center / 20px 20px no-repeat;
  border: none;
  cursor: pointer;
}

.icon-favorites {
  background: url("../images/icons/heart.svg") center / 20px 20px no-repeat;
}

.favorites-hotels {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #7DB54F;
  color: #FFF;
  text-align: center;
  font-family: PT Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
  position: relative;
  bottom: 11px;
  left: 8px;
}

.header-button {
  font-size: 16px;
  line-height: 20px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

  width: 160px;
  height: 36px;
  margin: 0 0 0 20px;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.header-button:hover,
.header-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.header-button:active {
  color: rgba(255, 255, 255, 0.6);
  border: none;
}

.header-button:disabled {
  opacity: 0.3;
}

/* footer */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-shrink: 0;
  width: auto;
  height: 100%;
  padding: 40px 70px 30px 70px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  width: 142px;
  height: 40px;
  align-items: center;
}

.social-item a {
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.icon-vk {
  background: url("../images/icons/vk.svg") center / 24px 14px no-repeat;
}

.icon-vk:hover,
.icon-vk:focus {
  background-image: url("../images/icons/vk_hover_focus.svg");
}

.icon-vk:active {
  background-image: url("../images/icons/vk_active.svg");
}

.icon-telegram {
  background: url("../images/icons/telegram.svg") center / 18px 16px no-repeat;
}

.icon-telegram:hover,
.icon-telegram:focus {
  background-image: url("../images/icons/telegram_hover_focus.svg");
}

.icon-telegram:active {
  background-image: url("../images/icons/telegram_active.svg");
}

.icon-youtube {
  background: url("../images/icons/youtube.svg") center / 22px 17px no-repeat;
}

.icon-youtube:hover,
.icon-youtube:focus {
  background-image: url("../images/icons/youtube_hover_focus.svg");
}

.icon-youtube:active {
  background-image: url("../images/icons/youtube_active.svg");
}

.phone-number {
  width: 720px;
  height: 50px;
  padding: 5px 194px 5px 195px;

  font-weight: 400;
  font-size: 40px;
  font-family: PT Sans;
  line-height: 40px;
  text-transform: uppercase;
}

.phone-number:hover,
.phone-number:focus {
  color: rgba(117, 97, 87, 1);
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.6);
}

.logo-academy {
  background: url("../images/logo_htmlacademy.svg") center / 115px 33px no-repeat;
}

.logo-academy:hover,
.logo-academy:focus {
  background-image: url("../images/logo_htmlacademy_hover_focus.svg");
}

.logo-academy:active {
  background-image: url("../images/logo_htmlacademy_active.svg");
}

.logo-link {
  width: 115px;
  height: 33px;
  flex-shrink: 0;
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  display: flex;
  width: 717px;
  padding: 64px 70px;
  align-items: flex-start;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  margin: 64px 52px 460px 613px;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  flex: 1 0 0;
}

.modal-title {
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.field-group {
  display: flex;
  align-self: stretch;
}

.field-group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.search-form-field {
  display: flex;
  width: 100%;
  height: auto;
  border: none;
}

.field {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  border-radius: 4px;
  background: #F2F2F2;
}

.field-number {
  padding: 14px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.change-minus {

  background: url("../images/icons/button-minus.svg") center / 20px 20px no-repeat;
  color: #756157 30%;
  padding: 14px 10px;
}

.change-plus {
  background: url("../images/icons/button-plus.svg") center / 20px 20px no-repeat;
  color: #756157 30%;
  padding: 14px 10px;
}

.input-number {
  display: flex;
  width: 247px;
  align-items: center;
  gap: 46px;
}

/* .input-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
} */

.search-form-button {
  display: flex;
  width: 577px;
  padding: 18px 77px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

/* main */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/backgrounds/hero-background.svg") bottom center / 100% auto no-repeat,
    url("../images/backgrounds/index-background.jpg") center center / auto auto no-repeat;
  height: 485px;
  object-fit: cover;
}

.reasons-title {
  display: flex;
  flex-wrap: wrap;
  padding: 69px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 25px;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
  color: #000000;
}

.reasons-title-hero {
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
}

.reasons-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  text-transform: none;
  text-align: center;
  color: #333333;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.reasons-item {
  max-width: 400px;
  text-align: center;
  padding: 103px 85px;
}

.reasons-text-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.street,
.bridge {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.reason-wrapper {
  text-align: center;
  max-width: 400px;
  padding: 103px 85px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.street img,
.bridge img {
  min-width: 400px;
  align-self: stretch;
  object-fit: cover;
}

.reasons-text-title::after {
  content: '';
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
  margin: 30px auto;
  display: block;
}

.basic::after {
  content: '';
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.30);
  margin: 30px auto;
  display: block;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 64px 0;
  gap: 20px;
  align-self: stretch;
}

.advantages-title {

  font-size: 30px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;

}

.advantages-item {
  display: flex;
  width: 400px;
  height: 385px;
  padding: 80px 85px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  font-size: 24px;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.advantages-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  text-transform: none;
}

.hotel-choice {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  padding: 96px 304px;
}

.hotel-choice-title {

  font-size: 30px;
  line-height: 36px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-choice-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 54px;
  color: #333333;
}

.button-search {
  padding: 8px 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  height: auto;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  border-radius: 4px;
  border: none;
  background-color: rgba(117, 97, 87, 1);
}

.button-search:hover,
.button-search:focus {
  background-color: rgba(97, 80, 72, 1);
  border: none;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.6);
}

.button-search:disabled {
  opacity: 0.3;
}



.subscribe {
  display: flex;
  flex-wrap: wrap;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url("../images/backgrounds/Subscribe.jpg") center / auto auto no-repeat;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-title {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  padding-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: inline-flex;
}

.subscribe-input {
  background: rgba(242, 242, 242, 1);
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 12px 20px;


  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);

  width: 452px;
  height: 52px;
}

.subscribe-button {
  border: none;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  background-color: rgba(130, 179, 211, 1);
  border-radius: 0 4px 4px 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: rgba(104, 162, 202, 1);
  border: none;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button:disabled {
  opacity: 0.3;
}

/* main_catalog.html */
.search-hotel {
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px 70px;


  background-image: url("../images/backgrounds/catalog_backdround.jpg");
  color: #FFFFFF;
}


.search-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-item::after {
  content: '';
  padding: 10px 7px;
  margin: auto 10px;
  gap: 10px;
  background: url("../images/icons/arrow_breadcrumbs.svg") center / 6.393px 9.938px no-repeat;
}

.breadcrumbs-item:last-child::after {
  display: none;
}


.catalog-hotel {
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.catalog-main-text {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  display: flex;
  width: 292px;
  padding: 14px 20px;
  border: none;
  justify-content: space-between;
  align-items: center;

  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.view-mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.view-mode li {
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.view-table {
  background: url("../images/view_mode/view_table.svg") center / 16px 14px no-repeat;
}

.view-slideshow {
  background: url("../images/view_mode/view_slideshow.svg") center / 16px 14px no-repeat;
}

.view-list {
  background: url("../images/view_mode/view_list.svg") center / 16px 14px no-repeat;
}

.display-mode-item:hover,
.display-mode-item:active {
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 1);
}

.display-mode-item:focus {
  border-radius: 4px;
  border: 2px solid rgba(104, 162, 202, 1);
}


.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  justify-content: center;
  align-content: space-between;
  gap: 20px;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px;
  padding: 20px;
  align-content: center;
  align-items: center;
  object-fit: fill;
}

.product-card-link {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
  grid-column: 1 / -1;
  grid-row: 1 / -4;
}

.product-card-price {
  text-align: end;
}

.rating {
  display: flex;
  gap: 6px;
}

.star {
  display: flex;
  align-items: center;
  width: 18px;
  height: 17px;
}

.rating-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.product-card-button {
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;
}

.favorites-button {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  border-radius: 4px;
  border: none;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.pagination {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
